{% block configuration %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/favicon.png">
    <title>Chat Application</title>
    <link rel="stylesheet" href="../static/css/libraries/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/libraries/fontawesome.min.css">
    <link rel="stylesheet" href="../static/css/sidebar.css">
    <script src="../static/js/libraries/bootstrap.min.js"></script>
    <script src="../static/js/libraries/fontawesome.min.js"></script>
{% endblock %}