<html data-bs-theme="dark">
	<head>
		{% include "configuration.html" %}
		<link rel="stylesheet" href="../static/css/signup-login.css">
	</head>
	<body>
		{% include "alerts.html" %}
		<form action="/forgot-password" method="post" class="main bg-body-tertiary">
			<h2 class="big-text">Forgot password</h2>
			<input type="email" class="form-control input-field" name="email" placeholder="Email" data-bs-theme="light" spellcheck="false" autocomplete="off" required>
			<button class="form-control btn btn-primary">Submit</button>
            <div class="text-center mt-2">
				<a href="/login" class="text-decoration-none">Go back to login page?</a>
			</div>
        </form>
	</body>
</html>