<html data-bs-theme="dark">
	<head>
		{% include "configuration.html" %}
		<link rel="stylesheet" href="../static/css/signup-login.css">
	</head>
	<body>
		{% include "alerts.html" %}
		<form action="/signup" method="post" class="main bg-body-tertiary">
			<h1 class="big-text">Signup</h1>
			<input type="text" class="form-control input-field" name="username" placeholder="Username" maxlength="30" data-bs-theme="light" spellcheck="false" autocomplete="off" required>
			<input type="email" class="form-control input-field" name="email" placeholder="Email" maxlength="50" data-bs-theme="light" spellcheck="false" autocomplete="off" required>
			<input type="password" class="form-control input-field" name="password" placeholder="Password" maxlength="30" pattern="{{password_regex}}" data-bs-theme="light" required>
			<input type="password" class="form-control input-field" name="confirm-password" placeholder="Confirm password" maxlength="30" pattern="{{password_regex}}" data-bs-theme="light" required>
			<div class="row">
                <div class="col d-flex justify-content-end">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input input-field" name="remember" id="remember" data-bs-theme="light">
                        <label for="remember" class="form-check-label text-white">Remember me</label>
                    </div>
                </div>
                <div class="col">
                    <a href="/forgot-password" class="text-decoration-none">Forgot password?</a>
                </div>
            </div>
			<button class="form-control btn btn-primary mt-2">Submit</button>
			<div class="text-center mt-2">
				<a href="/login" class="text-decoration-none">Already have an account?</a>
			</div>
		</form>
	</body>
</html>